@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* >>>>> HEADER Y FOOTER */

.body{
    background-color: #E6DFD9;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#BFB3A8;
    height: 240px;
    position: sticky;
    top: 0;
    z-index:99;
    width: 100%;
}

.header_logo{
    width: 250px;
    height: 180px;
}

.navbar{
    font-family: 'Lora', serif;
    font-size: 18px;
    width: 100%;
    z-index:99;
}

.nav-link{
    margin-left: 40px;
}

.carousel-item{
    height: 320px;
}


.carousel{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* .menu li{
    display: inline-block;
    position: relative;
    padding: 20px 20px 20px 20px;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.menu li:hover .submenu{
    display: block;
}

.submenu{
    background-color: #E6DFD9;
    color: rgb(0, 0, 0);
    position: absolute;
    display: none;
    width: 100%;
} */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #BFB3A8;
    font-size: medium;
    font-family: 'Lora', serif;
    padding-top: 30px;
    padding-bottom: 10px;
}

/* .ig{
    text-decoration: none;
}

.fb{
    text-decoration: none;
} */

                                                            /* INDEX */

/* >>>> GRIDS */

.contenedorgrid1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header"
    "main"
    "footer"
}
 
.header{
    grid-area: header;
}
 
.contenedorprincipal1{
    grid-area: main;
}
 
.footer{
    grid-area: footer;
}

/* >>>> CSS */

.tituloPrincipal{
    font-size: 40px;
}

.textoPrincipal{
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    font-stretch: expanded;
} 

.titulos1{
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    font-stretch: expanded;
}

.parrafoPrincipal{
    padding: 25px 65px 25px 65px;
    font-family: 'Lora', serif;
    text-decoration: solid;
    font-size: 20px;
}




                                                /* >>>> SERVICIOS */


/* >>>> GRIDS SERVICIOS*/

.contenedorgrid2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header"
    "main"
    "footer"
}
 
.header{
    grid-area: header;
}
 
.contenedorprincipal2{
    grid-area: main;
}
 
.footer{
    grid-area: footer;
}

/* >>>> CSS SERVICIOS */



                                                        /* NOSOTROS */


/* >>>> GRIDS NOSOTROS */

.introduccion{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 20px 70px 70px 70px;
}

.contenedorgrid3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header"
    "main"
    "footer"
}
 
.header{
    grid-area: header;
}
 
.contenedornosotros{
    grid-area: main;
}
 
.footer{
    grid-area: footer;
}

/* >>>>CSS NOSOTROS */

.tituloNosotros{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    font-stretch: expanded;
}

.tituloPrincipal{
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    font-stretch: expanded;
}

.imgabogado{
    width: 250px;
    margin-left: 50px;
}

.abogado1{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    align-items: center;
}

.abogado2{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px 20px 20px;
    align-items: center;
}

.abogadoparrafo{
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    font-stretch: expanded;
}

                                                        /* CONTACTO */


/* >>>> GRIDS CONTACTO*/

.contenedorgrid4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header"
    "main"
    "footer"
}
 
.header{
    grid-area: header;
}
 
.contenedorcontacto{
    grid-area: main;
}
 
.footer{
    grid-area: footer;
}

/* >>>CSS CONTACTO */

.contenedorcontacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.titulocontacto{
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    font-stretch: expanded;
}


.contenedorcontacto{
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    text-decoration: solid;
    font-size: large;
}


                                                        /* FAQ */


/* >>>> GRIDS FAQ */

.contenedorgrid5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header"
    "main"
    "footer"
}
 
.header{
    grid-area: header;
}
 
.contenedorfaq{
    grid-area: main;
}
 
.footer{
    grid-area: footer;
}

/* >>>>> CSS FAQ */

.titulofaq{
    font-family: 'Lora', serif;
    text-align: center;
    padding: 50px;
}

.contenedorfaq{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 25px 25px 25px 25px;
    font-family: 'Lora', serif;
    font-stretch: expanded;
}

.preg1{
    padding: 30px 30px 30px 30px;
}

.preg2{
    padding: 30px 30px 30px 30px;
}

.preg3{
    padding: 30px 30px 30px 30px;
}

.preg4{
    padding: 30px 30px 30px 30px;
}

